<form method="POST" action="/prehistoric_creatures">
	<label for="creatureType">Type</label>
	<input id="creatureType" type="text" name="type">

	<label for="creatureURL">Name</label>
	<input id="creatureURL" type="url" name="img_url">

	<input type="submit">
</form>